<div class="layout--col">
	{% for row in data %}
		<div class="grid" style="--gap: 0px">
			{% for col in row %}
				<div
					id="chart-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}"
					class="col--span-1"
					style="width: 100%"
				>
					{{ forloop.parentloop.index0 }} - {{ forloop.index0 }}
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js"></script>

<script
	type="text/javascript"
>
	// recommended configs to achieve the TRMNL Framework aesthetic
	var createChart = function (id, data, minmax, title, enableYAxis = true) {
		new Chartkick['LineChart'](id, data, {
			adapter: 'highcharts', // chartjs, google, etc available
			prefix: '',
			thousands: ',',
			points: false,
			colors: ['black'],
			curve: true,
			library: {
				title: {
					margin: 5,
					text: title,
					style: {
						fontSize: '1rem',
						fontFamily: 'NicoClean',
						fontWeight: 500,
					},
				},
				chart: {
					height: 235,
				},
				plotOptions: {
					series: {
						animation: false,
						lineWidth: 4,
					},
				},
				yAxis: {
					...minmax,
					labels: {
						distance: 10,
						enabled: enableYAxis,
						style: {
							fontSize: '16px',
							color: '#000000',
						},
					},
					gridLineDashStyle: 'shortdot',
					gridLineWidth: 1,
					gridLineColor: '#000000',
					tickAmount: 5,
				},
				xAxis: {
					type: 'datetime',
					labels: {
						enabled: false,
						style: {
							fontSize: '16px',
							color: '#000000',
						},
					},
					lineWidth: 0,
					gridLineDashStyle: 'dot',
					min: (() => {
						const date = new Date()
						date.setDate(date.getDate() - 1)
						return date.toISOString()
					})(),
					max: new Date().toISOString(),
					maxPadding: 0,
					tickWidth: 1,
					tickLength: 0,
					tickInterval: 60e3 * 60 * 6,
					gridLineWidth: 1,
					gridLineColor: '#000000',
				},
			},
		})
	}

	// ensure your chart loads before plugin render is generated
	if ('Chartkick' in window) {
		// {% for row in data %}
		// {% for col in row %}
		createChart(
			'chart-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}',
			JSON.parse(`{{col.states}}`).map(([time, value]) => [new Date(time), value]),
			JSON.parse(`{{col.minMax}}`),
			'{{col.name}}',
			// {% if forloop.index0 != 0 %}
			false,
			// {% endif %}
		)
		// {% endfor %}
		// {% endfor %}
	} else {
		window.addEventListener('chartkick:load', createChart, true)
	}
</script>
